:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 15px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 40px;
  --font-size-2xl: 64px;

  /* Colors */
  --color-white: #fff;
  --color-brown: #f57359;

  /* border radiuses */
  --br-md: 5px;
}
